extends layout

block content
  h1= title
  p Welcome to #[em frienDB],  a very basic Social Media Networking Database made with Node.js/Express and Postgres.

  h1 Site Statistics

  if error
    p Error getting dynamic content.
  else
    p This database has the following records:

    h3 Users:
    for user in users
      li
        a(href='/home/user/' + user.username) @#{user.username}

    h3 Posts:
    each post in posts
      h4
        if (post.postid)
          a(href="/home/post/" + post.postid) Post by #{post.username} at #{post.post_date}
        if (post.image_link)
          img(src=post.image_link, width=500)
      p #{post.text}
      br

    else
      li There are no posts.
