extends layout

block content
  h1= title
  p Welcome to #[em frienDB],  a very basic Social Media Networking Database made with Node.js/Express and Postgres.

  h1 Site Statistics

  if error
    p Error getting dynamic content.
  else
    p This database has the following records:

    h3 Users:
    for user in users
      li
        a(href='/home/user/' + user.username) @#{user.username}

    h3 Posts:
    each postTag in postTag_list
      hr
      h4
        a(href="/home/post/" + postTag.post.postid) Post by @#{postTag.post.username}
      h6 #{postTag.post.post_date}
      if (postTag.post.image_link)
        img(src=postTag.post.image_link, width=500)
      if (postTag.post.text)
        p #{postTag.post.text}
      if (postTag.tags.length > 0) 
        p Tags: #{postTag.tags.join(', ')}

    else
      li There are no posts.
