extends layout

block content
  h1= title

  ul
  each postTag in postTag_list
    hr
    h4
      a(href="/home/post/" + postTag.post.postid) Post by @#{postTag.post.username}
    p #{postTag.post.post_date}
    if (postTag.post.image_link)
      img(src=postTag.post.image_link, width=500px)
    if (postTag.post.text)
      p #{postTag.post.text}
    if (postTag.tags.length > 0)
      p #{postTag.tags.join(' ')}

  else
    li There are no posts.
