extends layout

block content

  h1 ID: #{post.postid}

  p #[strong Posted by: ]
    a(href="/home/user/" + post.username) @#{post.username}
  p #[strong Posted at: ] #{date}
  if (post.city && post.country)
    p #[strong Posted from: ] #{post.city}, #{post.country}
  else if (post.city)
    p #[strong Posted from: ] #{post.city}
  else if (post.country)
    p #[strong Posted from: ] #{post.country}


  if (post.image_link)
    img(src=post.image_link)
  if (post.text)
    p #{post.text}
  if (tags.length > 0) 
    p Tags: #{tags.join(', ')}
    
  

  hr

  p
    a(href='/home/post/' + post.postid + '/edit') edit post
  p
    a(href='/home/post/' + post.postid + '/delete') delete post
